.breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumb-item {
  display: inline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '/';
  margin: 0 0.5rem;
}

.breadcrumb-item:last-child {
  font-weight: bold;
}
